@model List<Bloggie.Web.Models.Domain.BlogPosts>;
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h2>Show All Blogs - Admin Functionallty</h2>
    </div>
</div>


<div class="container py-5">

    @if (TempData["msg"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>@TempData["msg"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Heading</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogPosts in Model)
                {
                    <tr>
                        <td>
                            @blogPosts.Id
                        </td>
                        <td>
                            @blogPosts.Heading
                        </td>
                        <td>
                            <div class="d-flex gap-2">
                                @foreach (var tag in blogPosts.Tags)
                                {
                                    <span class="badge rounded-pill bg-secondary">@tag.DisplayName</span>
                                }
                            </div>
                        </td>
                        
                        @* <td>
                            <div class="d-flex gap-3">
                                <a asp-controller="AdminTags" asp-action="Edit" class="btn btn-primary btn-sm"
                                   asp-route-id="@tag.Id">
                                    Edit
                                </a>

                                <form method="post" asp-action="DeleteOuter" asp-controller="AdminTags">
                                    <input type="hidden" value="@tag.Id" name="idTag" readonly />
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </td> *@
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Opps data tidak ditemukan!</h3>
    }
</div>